body{
	background-color: #eee;
	background: url(../images/back.jpg);
	background-position:center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}
/*navbar*/
.navbar{
	background-color: rgba(37, 187, 170, 0.8);
	border-width: 0px;
	border: 1px solid #203720;
}
@media only screen and (max-width: 768px) { /*extension needed for responsiveness for mobile*/
	.navbar{
		border-radius: 4px;
		margin-bottom: 4px;
	}
}
.activeX{
	background-color: #e7e7e7;
}
.headmenu p{
	font-size: 17px;
	padding-bottom: 0px;
	padding-top: 6px;
	color: black;
}
.a{
	font-size: large;
	color: #337179;
	padding-bottom: 0px;
	padding-top: 7px;
}
.form-control{
	font-size: 17px;
	color: #337179;
}
@media only screen and (min-width: 768px) {
	.b{
		margin-top: 0.68rem;
		color: #337179;
	}
}
@media only screen and (max-width: 768px) {
	.b{
		display: none;
	}
}
/* main */
.main{
	margin-top: 18px;
	display: flex;													
	justify-content: center;
}
.jumbotron{
	font-family: Verdana;
	padding: 30px;
	font-size: 16px;
	border-radius: 14px;
	background-color: rgba(255, 248, 220, 0.85);
}
.header{
	color: black;
	display: flex;													
	justify-content: center;
	margin-bottom: 10px;
}
.form-group{
	margin-bottom: 35px;
}
form{
	display: flex;													
	justify-content: center;
}