body{
	background-color: #eee;
	background: url(../images/back.jpg);
	background-position:center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}
a:link {
	color:black;
	text-decoration: none;
}
a:visited {
	color:black;
	text-decoration: none;
}
/*navbar*/
.navbar{
	background-color: rgba(37, 187, 170, 0.8);
	border-width: 0px;
	border: 1px solid #203720;
}
@media only screen and (max-width: 768px) { /*extension needed for responsiveness for mobile*/
	.navbar{
		border-radius: 4px;
		margin-bottom: 4px;
	}
}
.activeX{
	background-color: #e7e7e7;
}
.headmenu p{
	font-size: 17px;
	padding-bottom: 0px;
	padding-top: 6px;
	color: black;
}
.a{
	font-size: large;
	color: #337179;
	padding-bottom: 0px;
	padding-top: 7px;
}
.form-control{
	font-size: 17px;
	color: #337179;
}
@media only screen and (min-width: 768px) {
	.b{
		margin-top: 0.53rem;
		color: #337179;
	}
}
@media only screen and (max-width: 768px) {
	.b{
		display: none;
	}
}
/*main*/   
.main{
	display: flex;													
	justify-content: center;
}
.jumbotron{
	background-color: rgba(255, 248, 220, 0.9);
}
#bheader{
	color: #3b6087;
}
p.text{
	font-size: 17px;
}
h1{
	font-size: 26px;
}
.media-body p{
	font-size: 16px;
	color: #626161;
}
.jumbotron form{
	background-color: rgba(37, 187, 170, 0.45);
	border-radius: 10px;
	padding: 4px;
}
.sub{
	display: flex;													
	justify-content: center;
}

.jumbotron .form-control{
	background-color: rgba(255, 255, 255, 0.95);
}

.btn.btn-primary.btn-md{
	background-color: #3b6087;
	border-color: #3b6087;

}
