/*general*/
body{
	background-color: #eee;
	background: url(../images/back.jpg);
	background-position:center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}
a:link {
	color:black;
	text-decoration: none;
}
a:visited {
	color:black;
	text-decoration: none;
}
/*navbar*/
.navbar{
	background-color: rgba(37, 187, 170, 0.8);
	border-width: 0px;
	border: 1px solid #203720;
}
@media only screen and (max-width: 768px) { /*extension needed for responsiveness for mobile*/
	.navbar{
		border-radius: 4px;
		margin-bottom: 4px;
	}
}
.activeX{
	background-color: #e7e7e7;
}
.headmenu p{
	font-size: 17px;
	padding-bottom: 0px;
	padding-top: 6px;
	color: black;
}
.a{
	font-size: large;
	color: #337179;
	padding-bottom: 0px;
	padding-top: 7px;
}
.form-control{
	font-size: 17px;
	color: #337179;
}
@media only screen and (min-width: 768px) {
	.b{
		margin-top: 0.53rem;
		color: #337179;
	}
}
@media only screen and (max-width: 768px) {
	.b{
		display: none;
	}
}
/*main(col-sm-8)*/
.col-sm-8{
	background-color: rgba(35, 169, 167, 0.75);
	color: #337179;
	font-size: 20px;
	border: 1px solid #203720;
	border-radius: 8px;
}
.header{
	margin-top: 50px;
	display: flex;													
	justify-content: center;
}
.sun{
	font-size: 26px;
}
.panel{
	margin-top: 20px;
	margin-bottom: 30px;
}
.inst{
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #337ab7;
	color: white;
	font-size: 22px;
	margin: 0px 0px 2px 0px;
	border: 2px solid black;
}
.nav-pills{
	display: flex;
	justify-content: center;
}
.nav-pills li a{
	color: #312828;
	font-size: 18px;
	border: 2px solid black;
	font-family: Verdana;
}
.well-lg{
	background-color: white;
	color: #723333;
} 
#accordion .panel-heading{
	height: 50px;
}
#panel1:hover{
box-shadow: 0 -3px 0px 0px #ff8e33;
}
#panel2:hover{
box-shadow: 0 3px 0px 0px #ff8e33;
}
#accordion p{
	font-size: 22px;
} 
#accordion h4{
	font-size: 20px;
} 
#accordion iframe{
	border:2px solid black; 
	width:100%; 
	height:500px;
}
/*sidebars*/
.col-sm-2{
	background-color: rgba(70, 180, 130, 0.95);
	margin-top: 300px;
	position: static;
	border: 1px solid #203720;
	border-radius: 8px;
}
@media only screen and (max-width: 768px) {
	.col-sm-2{
	margin-top: 15px;
	}
}

.col-sm-2:hover{
	border: 2px solid #ff8e33;
}
#lside{
	height: 165px;
}
@media only screen and (max-width: 768px) {
	#lside{
	height: 50px;
	}
}
#rside{
	height: 165px;
}
@media only screen and (max-width: 768px) {
	#rside{
	height: 50px;
	}
}
.sidep{
	margin-top: 146px;
	color: black;
	font-family: Verdana;
	font-size: 22px;
}
@media only screen and (max-width: 768px) {
	.sidep{
	margin-top: 25px;
	}
}
